@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  gap: 2rem;
}

html{
  font-size: 62.5%;
  scroll-behavior: smooth;
}


body{
  font-size: 1.6rem;
}

aside{
  position: fixed;
  width: 100%;
  background-color: yellow;
  min-height: 3rem;
  background-size: contain;
  background-position: center;
  position: fixed;
  top: 0%;
  left: 0%;
  right: 0%;    
}

a{
  font-size: 2.4rem;
  text-decoration: none;
  color: darkblue;
}

.menu{
  font-size: 1.6rem;
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto;
  align-items: center ;
  justify-content:space-around;
  height: auto;
  color: darkblue;
  padding: 1rem;
  text-align: center;
}

.menu nav{
  align-items: center;
  justify-content: center;
}

.menu nav a{
  position: relative;
  padding: 1.6rem;
  font-size: 2.5rem;
}

.barra{
  height: 4.5rem;
  width: 100%;
}

.resultado{
  background-image:url("https://media.istockphoto.com/vectors/ancient-greek-architecture-with-white-pillars-vector-id1214410574?b=1&k=20&m=1214410574&s=612x612&w=0&h=wHvtvZOjIbkqQrY1zxRNTgMZLQTyXPfO-V4EzjDM9YE=");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  width: 100vw;
  flex-flow: column wrap;
  font-size: 1.rem;
  align-items: center;
  color: darkblue;
  text-decoration: none;
}

.caixas{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 4rem;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
 
}

.caixas div{
  border: 0.2rem solid darkblue;
  padding: 0.5rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 600;
  border-radius: 1rem;
}



.caixas div:hover{
  background-color: rgba(0, 0, 139, 0.53);
  border: 0.2rem solid yellow;
}

.logomega{
  background-image: url('/assets/img/logomega.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.logoquina{
  background-image: url('/assets/img/logoquina.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.logoduplasena{
  background-image: url('/assets/img/logodupla.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.logofacil{
  background-image: url('/assets/img/logofacil.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.logomania{
  background-image: url('/assets/img/logomania.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.logotime{
  background-image: url('/assets/img/logotime.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.logosuper{
  background-image: url('/assets/img/logosete.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.logosorte{
  background-image: url('/assets/img/logosorte.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.logooutros{
  background-image: url('/assets/img/loteria.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.caixas div a{
  color: transparent;
}

.reset{
  width: 2.0rem;
  height: 2.0rem;
}

.reset:hover{
  transform:rotate(-360deg);
  transition: all 1000ms ease-in-out;
  cursor: pointer;
}

.home{
  transition: all 600ms ease-in-out;
}

.home:hover{
  text-decoration-line:underline;
}

.notification{
  font-weight: 600;
  position: absolute;
  bottom: 50px;
  left: 50px;
  width: max-content;
  padding: 15px 15px;
  border-radius: 4px;
  background-color: yellow;
  color: darkblue;
  box-shadow: 0 1px 10px darkblue;
  transform: translateY(30px);
  opacity: 0;
  visibility: hidden;
  animation: fade-in 6s linear forwards;
}

.not-progress{
  position: absolute;
  color: rgba(240, 248, 255, 0);
  left: 5px;
  bottom: 5px;
  width: calc(100%-10px);
  height: 3px;
  transform: scaleX(0);
  transform-origin: left;
  background-image: linear-gradient(to right, #3791df, #1436b3);
  border-radius: inherit;
  animation: load 3s 0.25s linear forwards;
}

@keyframes fade-in {
  5%{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  90%{
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes load {
  to{
    transform: scaleX(5);
  }
}

.mega{
  color: green;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  gap: 3rem;
  text-align: center;
}

.megao{
  display: grid;
  grid-template-columns: 340px 1fr;
  gap: 2rem;
}

.mega1{
  display: flex;
  flex-direction: column;  
  max-width: 300px;
}

table{
  display: none;
}

table tr td{
  gap: 10rem;
}

table caption{
  margin-bottom: 1rem;
}

.trevo  .trevos  .trevoq{
  max-width: 260px;
}

#result{
  margin-top: -2rem;
}

.megabtn{
  border-radius: 0.8rem;
  padding: 0.4rem 0.1rem;
  cursor: pointer;
}

.megabtn:hover{
  background-color: rgba(0, 0, 255, 0.486);
}

.bolinha{
  border-radius: 50%;
  padding: 0.1rem;
  width: 5rem;
  height: 5rem;
  cursor: pointer;
  background-image: url('/assets/img/aposta.jpg');
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  border-color: transparent;
  padding: 0
}

.bolinha:hover{
  transition: all 2000ms ease-in-out;
  transform: rotate(720deg);
}

.btn{
  cursor: pointer;
  border-radius: 0.5rem;
}

.btn:hover{
  background-color: rgba(0, 0, 255, 0.486);
}

.btnq{
  cursor: pointer;
  border-radius: 0.5rem;
}

.btnqc{
  cursor: pointer;
  border-radius: 0.5rem;
}

.btnqc:hover{
  background-color: rgba(0, 0, 255, 0.486);
}

.btnq:hover{
  background-color: rgba(0, 0, 255, 0.486);
}

.btno{
  cursor: pointer;
  border-radius: 0.5rem;
}

.btno:hover{
  background-color: rgba(0, 0, 255, 0.486);
}

button{
  border-radius: 10%;
  border-color: darkblue;
  padding: 0.2rem 1.0rem;
  color: darkblue;
  font-weight:600;
  background-color: yellow;
}

.marcado{
  background-color: rgba(0, 0, 255, 0.502);
}

.marcadoq{
  background-color: rgba(0, 0, 255, 0.502);
}

.quina{
  color: darkblue;
}

.apostar{
  cursor: pointer;
}

.outros{
  color: darkblue;
  display: flex;
  flex-flow: column wrap;
  gap: 2rem;
}

.select{
  padding: 0.2rem;
  font-weight: 500;
  color: darkblue;
  border-color: darkblue;
  border: 0.2rem solid darkblue;
}

#select{
  border: 0.2rem solid darkblue;
  padding: 2rem;
  border-radius: 2rem;
}

.select::placeholder{
  color: darkblue;
}

#raposta{
  color: darkblue;
}

#result #output{
  text-align: left;
}



